* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #080b17;
    color: #CDCDCD;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;    
    font-weight: normal;    
    margin-inline: 25px;
}

/* Largest header: Website Titles */
h1 {
    font-size: 40px;
}

/* Next Largest Header: Article Titles */
h2 {
    font-size: 30px;
}

/* Smaller "Header": Article Descriptions */
h3 {
    font-size: 25px;
}

/* Tiny Header: Dates & Smaller Article Details */
h4 {
    font-size: 18px;
}

h1, h2, h3, h4 {
    text-align: center;
}

/* Subject Header: Intros to Paragraphs */
h5 {
    font-size: 20px;
}

/* Standard Text */
p {
    font-size: 19px;
}

main > * {
    margin-block: 35px;
}

main > #report-card-content > * {
    margin-block: 35px;
}

/* Links */
a {
    color: #7DA9DE;
}

/* When I want no margin */
.no_margin {
    margin-block : 0;
}

.no_bottom_margin{
    margin-bottom: 0;
}

/* When I want stuff at the bottom of the page */
/* .bottom_content {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: (50em-50px);
} */

main { 
    max-width: 50em;
    margin: 0px auto;
}

img {
    max-width: 40em;
    margin: 0px auto;
    width: 100%;
}

iframe {
    max-width: 50em;
    margin: 0px auto;
    width: 100%;
    height: 500px;
}


/* Fix list element default overflow */

li {
    list-style-position: inside;
}

li p{
    display: inline;
}

/*SSTRP REPORT CARD SHOULD NOT LOAD UNTIL ASSETS ARE READY*/
#report-card-content {
    visibility: hidden;
}



/*DATE SLIDER CONTROLS*/


.range_container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10% 0;
}

.sliders_control {
  position: relative;
  min-height: 25px;
}

#fromLabel, #toLabel {
    position: absolute;
    top: 10px;
    transform: translateX(-50%);
    pointer-events: none;
    white-space: nowrap;
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #635a5a;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;  
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
  color: #8a8383;
  width: 100px;
  height: 20px;
  font-size: 15px;
  border: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}

/*END DATE SLIDER CONTROLS*/
